.fks-color{
  background: rgb(233, 114, 46);
}

.profile-form-margin{
  margin-top: 15px;
}

.search-box{
  max-width: 250px;
}

.pre-fit-input{
  max-width: 250px;
}

.qf-button-group{
  margin-left: 20px;
}

.qf-glyph{
  top:0px;
}

.qf-title{
  font-size: 16px;
  color:black;
}

.cyclist-date-updated{
  max-width: 150px;
  display: inline-block;
  margin-right: 10px;
}