@media all and (min-width: 480px) {

  .Signup {
    padding: 60px 0px;
    margin: 0 auto;
    max-width: 400px;
    
  }

  .Signup form {
    margin: 0 auto;
    padding: 20px;
    max-width: 320px;
    
  }

  .Profile {
    padding: 60px 0px;
    margin: 0 auto;
    max-width: 930px;

  }

  .EditProfile {
    padding: 60px 0px;
    margin: 0 auto;
    max-width: 400px;
    
  }

  .EditProfile form {
    margin: 0 auto;
    padding: 20px;
    max-width: 320px;
    
  }
  .Users {
      padding: 60px 0px;
      margin: 0 auto;
      max-width: 400px;
      
    }
  
    .Users form {
      margin: 0 auto;
      padding: 20px;
      max-width: 320px;
      
    }
  }
  
  .Users form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .Profile form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .Profile-glyph{
    margin-left: 10px;

  }

  .EditProfile form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }


  .preferencesColumn {
    float: left;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
  
  }
  
  .preferencesWell{
    margin-bottom: 0px;
  }

  #password-tooltip > .tooltip-inner{

  background-color: #fff;
  color: #000;
  border: 1px solid #062e56;

  }

  #password-tooltip > .tooltip-arrow {
    border-top: 5px solid #062e56;
  }


  .NewLogo input {
    display: none;
  }

  .NewLogoFileName{

    margin-left: 10px;
  }

  .LogoImage{
    max-height: 50px;
    margin-left:50px;
  }