
.checkout{
  margin-top:15px;
}

.cardElement{
  margin-top:25px;
  
}

.errorMessage{
  margin-left: 20px;
  color: red;
 
  line-height: 60px;
  
}

.buttonDiv{
 
  line-height: 60px;
}


.buttonErrorBox{
  display: flex;
}