
  .Signin {
      padding: 10px 0px;
      margin: 0 auto;
      max-width: 400px;
      
    }
  
    .Signin form {
      margin: 0 auto;
      padding: 20px;
      max-width: 320px;
      
    }
  
  .Signin form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .homeSigninColumn{
    padding-left: 10px;
    padding-right: 10px;
    
  }

  .homeSigninButton{
    margin-top: 25px;
    min-height: 34px;
  }

  .homeSigninContainer{
    padding:10px;
    margin-top:0px;
    background: #e9e7e7;
    
  }

  .homeSigninComponentContainer{
    margin: auto;
    max-width: 930px;

  }

  .homeSigninComponentContainer .form-group{
    margin-bottom:10px;

  }


  .signInError{
    margin-top:0px;
  }

 