@media all and (min-width: 480px) {
    .Signin {
      padding: 60px 0px;
      margin: 0 auto;
      max-width: 400px;
      
    }
  
    .Signin form {
      margin: 0 auto;
      padding: 20px;
      max-width: 320px;
      
    }
  }
  
  .Signin form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .homeSigninColumn{
    float: left;
    width: 33.33%;
    
  }

  .homeSigninButton{
    margin-top: 25px;
    min-height: 34px;
  }

  .homeSigninContainer{
    padding:10px;
    margin-top:50px;
    height: 100px;
    background: #e9e7e7;
  }

  .homeSigninComponentContainer{
    margin: auto;
    max-width: 930px;
  }

  .homeSigninComponentLeft{
    padding-right:10px;
  }

  .homeSigninComponentMiddle{
    padding-left: 5px;
    padding-right: 5px;

  }

  .homeSigninPasswordLink{
    margin-top: 5px;
  }  

  .homeSigninComponentRight{
    padding-left: 10px;
  }

  .signInError{
    margin-top:5px;
  }

 