.bikeCol1{

  width: 70%;
}

.bikeActualInput{
  
  min-width: 100%;
  
}

.addOn{
  width:30%;
}

.bikeTextArea{
  padding: 5px;
  min-width: 98%;
  max-width: 98%;
  background-color: whitesmoke;
 
}

.bikeTextArea:disabled{
  max-width:120px;
  
}

.bikeTabImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  
}

.bikeSVG{
  margin-left: auto;
  margin-right: auto;

  width: 700px;
  height: 413px;
  
  margin-bottom: 10px;
  
}


.bikeBackground{
  background-color:red;
  
}

.bikeFormGroup.form-group{
  margin-bottom:0px;
  
}

.bikeActualInput.input-group{
  
  max-width: 125px;
}
